.change-password-form__header {
    font-size: 1.5rem;
}

.change-password-form {
    padding: 1rem;
}

.change-password-form__input {
    width: 100%;
    border-radius: 0;
    border: 1px solid var(--var-color-text);
    box-shadow: none !important;
    outline: none !important;
    padding: .5rem;
}

.change-password-form__btn {
    color: var(--var-color-primary);
    background: var(--var-color-text);
    padding: .5rem 2rem;
    font-size: 1rem;
    margin: 0 0 .4rem 0;
    font-weight: 700;
}

.change-password-form__link {
    font-size: 1rem;
}

@media screen and (min-width: 768px) {}