.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--var-color-primary);
    padding: 1rem;
    max-width: 440px;
    font-size: .8rem;
}

.login-form__header {
    text-align: left;
    font-weight: 700;
    font-size: 1.2rem;
    width: 70%;
}

.login-form__header-cont {
    text-align: left;
    font-weight: 700;
    font-size: 1.2rem;
    width: 100%;
    margin-bottom: .5rem;
}

.login-form__header-note {
    font-size: .9rem;
    width: 100%;
    margin-bottom: 0rem;
    font-weight: 400;
    font-style: italic;
}

.login-form__input {
    padding: .5rem;
    font-size: .8rem;
}

.login-form__btn {
    width: 10rem;
    margin-top: 1rem;
    background: var(--var-color-text);
    color: var(--var-color-primary);
    opacity: 0.8;
    transition: all .3s;
    font-size: .8rem;
}

.login-form__btn-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.login-form__btn:disabled {
    opacity: 0.5;
    cursor: default;
}

.login-form__link {
    width: 100%;
    text-align: left;
    margin: .5rem 0 0 0;
    font-size: .9rem;
}

@media screen and (min-width: 768px) {
    .login-form {
        padding: 2rem;
    }

    .login-form__header {
        font-size: 1.4rem;
    }

    .login-form__input {
        font-size: .9rem;
    }

    .login-form__header-note {
        font-size: 1rem;
    }

    .login-form__btn {
        font-size: 1rem;
        width: 15rem;
    }
}