#all-blogs {
    padding: auto;
}

.all-blogs__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.all-blogs__container-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--var-color-primary);
    padding: 2rem;
    width: 100%;
}

.all-blogs__container-item__title {
    font-size: 1.4rem;
    font-weight: 600;
    height: 8rem;
    width: 100%;
}

.all-blogs__container-item__body {
    font-size: .9rem;
    height: 100%;
}

.all-blogs__container-item__link {
    font-size: .9rem;
    font-weight: 600;
    margin-top: 1rem;
    text-align: left;
    width: 100%;
}

#email-template {
    background: var(--var-color-primary);
    padding: 1rem;
    margin: 1rem 0;
}

.blog-table {
    width: 100%;
    border-collapse: collapse;
}


@media screen and (min-width: 768px) {
    .all-blogs__container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .all-blogs__container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1400px) {
    .all-blogs__container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1600px) {
    #all-blogs {
        padding: 0;
    }
}

/* Individual Blog CSS */
.blog p {
    font-size: 1.1rem;
    margin: 1rem 0;
}

.blog h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.blog h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 3rem 0 .5rem 0;
}

.blog h3 {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 3rem 0 .5rem 0;
}

.blog-note {
    font-size: .9rem;
    font-style: italic;
    margin: 1rem 0;
}

@media screen and (min-width: 768px) {
    .blog {
        padding: 0 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .blog {
        padding: 0 3rem;
    }

    .blog p {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1440px) {
    .blog {
        padding: 0 4rem;
    }
}