:root {
  --var-color-primary: #6b7b62;
  --var-color-secondary: #d4d4ce;
  --var-color-background: rgb(231, 231, 231);
  --var-color-text: #000;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--var--color-primary);
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.web-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--var-color-text);
  background: var(--var-color-secondary);
  min-height: 100vh;
  width: 100%;
}

.web-page {
  min-height: 100vh;
  width: 100%;
}

.web-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.web-section-dark {
  background: var(--var-color-background);
}

.web-section-content {
  max-width: 1440px;
}


.web-section__container {
  width: 100%;
}

.web-section-header {}


/* Buttons */
.btn {
  color: var(--var-color-secondary);
  background: var(--var-color-primary);
  padding: .5rem;
  width: 100%;
}