.footer {
    width: 100%;
    min-height: none;
    margin: 0;
    background: var(--var-color-text);
    color: var(--var-color-primary);
    position: static;
    padding: 2rem 1rem;
}

.footer-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.footer-copy {
    font-size: .9rem;
}

.footer-item {
    color: var(--var-color-primary);
    font-size: .85rem;
    margin: 0;
    transition: opacity 0.2s ease;
    display: block;
    padding: 0.4rem 0;
}

.footer-item__cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-item:hover {
    opacity: 0.8;
    text-decoration: none;
    color: var(--var-color-primary) !important;
}

.footer-item__highlight {
    background: var(--var-color-primary);
    width: 100%;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.footer-item__highlight-arrow-icon {
    position: relative;
    left: -2px;
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 3rem 2rem;
    }

    .footer-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }

    .footer-item {
        font-size: .9rem;
    }
}

@media screen and (min-width: 1024px) {
    .footer-item__highlight {
        width: auto;
    }
}