.review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid var(--var-color-primary);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-width: 50rem;
    padding: 3rem 1.5rem;
}

.review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.review-form-label {
    font-size: 1rem;
    font-weight: 600;
    margin: .6rem 0 .3rem 0;
    width: 100%;
    text-align: left;
    padding: 0;
}

.review-form-radio {
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0 0 .6rem 0;
}

.review-form-input {
    margin-right: .2rem;
}

.review-radio-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.review-input {
    width: 100%;
    margin-bottom: .3rem;
    padding: .5rem;
    font-size: 1rem;
}

.review-btn {
    width: 100%;
    margin-bottom: .3rem;
    font-weight: 600;
}

.review-header {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
}